<a href="https://colab.research.google.com/github/Shaheer-Khan/AISem3/blob/master/CW/Home_Credit_default_risk_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"shaheersk","key":"7d251b05c20db9fd4c81f313f4770bcd"}'}

In [4]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!pip uninstall -y kaggle
!pip install —upgrade pip
!pip install kaggle==1.5.6
!kaggle -v

Uninstalling kaggle-1.5.6:
  Successfully uninstalled kaggle-1.5.6
ERROR: Invalid requirement: '—upgrade'
Collecting kaggle==1.5.6
  Downloading https://files.pythonhosted.org/packages/62/ab/bb20f9b9e24f9a6250f95a432f8d9a7d745f8d24039d7a5a6eaadb7783ba/kaggle-1.5.6.tar.gz (58kB)
     |████████████████████████████████| 61kB 2.1MB/s
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.6-cp36-none-any.whl size=72859 sha256=fb5566a460a3a7846fb11a4b701d5b8bc64f5fc583737d519266dc34485a582a
  Stored in directory: /root/.cache/pip/wheels/57/4e/e8/bb28d035162fb8f17f8ca5d42c3230e284c6aa565b42b72674
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.6
Kaggle API 1.5.6

In [6]:
!kaggle competitions download -c home-credit-default-risk

Downloading home-credit-default-risk.zip to /content
 99% 681M/688M [00:07<00:00, 97.5MB/s]
100% 688M/688M [00:07<00:00, 95.4MB/s]

In [7]:
from zipfile import ZipFile

file_name = "home-credit-default-risk.zip"

with ZipFile(file_name,"r") as zip:
  zip.extractall()
  print('done')

done

In [8]:
import numpy as np 
import pandas as pd

In [11]:
train = pd.read_csv('application_train.csv')
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
credit_card_balance = pd.read_csv('credit_card_balance.csv')
installments_payments = pd.read_csv('installments_payments.csv')
previous_application = pd.read_csv('previous_application.csv')
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')

test = pd.read_csv('application_test.csv')
sample_sub = pd.read_csv('sample_submission.csv')

In [17]:
train.head(10)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0
5      100008       0  ...                       1.0                        1.0
6      100009       0  ...                       1.0                        2.0
7      100010       0  ...                       0.0                        0.0
8      100011       0  ...                       0.0                        1.0
9      100012       0  ...                       NaN                        NaN

[10 rows x 122 columns]

In [19]:
x = [train,test]

In [24]:
Train_test =  pd.concat(x)

Train_test.sort_values(by = 'SK_ID_CURR' , ascending = True, inplace = True)

In [26]:
print(train.shape)
print(test.shape)
print(Train_test.shape)

(307511, 122)
(48744, 121)
(356255, 122)

In [25]:
Train_test.head(10)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100001     NaN  ...                       0.0                        0.0
0      100002     1.0  ...                       0.0                        1.0
1      100003     0.0  ...                       0.0                        0.0
2      100004     0.0  ...                       0.0                        0.0
1      100005     NaN  ...                       0.0                        3.0
3      100006     0.0  ...                       NaN                        NaN
4      100007     0.0  ...                       0.0                        0.0
5      100008     0.0  ...                       1.0                        1.0
6      100009     0.0  ...                       1.0                        2.0
7      100010     0.0  ...                       0.0                        0.0

[10 rows x 122 columns]

In [ ]:
bureau_merge = pd.merge(left=bureau,
                      right=bureau_balance,
                      how="left",
                      left_on="SK_ID_BUREAU",
                      right_index=True)

In [ ]:
print(bureau.shape)
print(bureau_balance.shape)
print(bureau_merge.shape)

(1716428, 17)
(27299925, 3)
(1716428, 20)

In [ ]:
bureau_merge.duplicated(['SK_ID_CURR']).sum()

In [ ]:
bureau_merge.head(10)

   SK_ID_CURR  SK_ID_BUREAU_x  ... MONTHS_BALANCE STATUS
0      215354         5714462  ...            -24      0
1      215354         5714463  ...            -25      0
2      215354         5714464  ...            -26      0
3      215354         5714465  ...              0      C
4      215354         5714466  ...             -1      C
5      215354         5714467  ...             -2      C
6      215354         5714468  ...             -3      C
7      162297         5714469  ...             -4      C
8      162297         5714470  ...             -5      C
9      162297         5714471  ...             -6      C

[10 rows x 20 columns]

In [ ]:
bureau_credit_merge = pd.merge(left=credit_card_balance,
                      right=bureau_merge,
                      how="left",
                      left_on="SK_ID_CURR",
                      right_index=True)

In [ ]:
print(bureau_merge.shape)
print(credit_card_balance.shape)
print(bureau_credit_merge.shape)

(1716428, 20)
(3840312, 23)
(3840312, 43)

In [ ]:
bureau_credit_merge.head(10)

   SK_ID_CURR_x  SK_ID_BUREAU_x  ... SK_DPD SK_DPD_DEF
0        215354         5714462  ...      1          1
1        215354         5714463  ...      1          1
2        215354         5714464  ...      1          1
3        215354         5714465  ...      1          1
4        215354         5714466  ...      1          1
5        215354         5714467  ...      1          1
6        215354         5714468  ...      1          1
7        162297         5714469  ...      0          0
8        162297         5714470  ...      0          0
9        162297         5714471  ...      0          0

[10 rows x 43 columns]

In [ ]:
bureau_c_installment_merge = pd.merge(left=installments_payments,
                      right=bureau_credit_merge,
                      how="left",
                      left_on="SK_ID_CURR",
                      right_index=True)

In [ ]:
print(installments_payments.shape)
print(bureau_credit_merge.shape)
print(bureau_c_installment_merge.shape)

(13605401, 8)
(3840312, 43)
(13605401, 51)

In [ ]:
bureau_c_installment_merge.head(10)

   SK_ID_PREV_x  SK_ID_CURR  ...  MONTHS_BALANCE_y  STATUS
0       1054186      161674  ...               -52       0
1       1330831      151639  ...                -8       C
2       2085231      193053  ...               -42       X
3       2452527      199697  ...               -16       C
4       2714724      167756  ...               -28       0
5       1137312      164489  ...                -5       C
6       2234264      184693  ...               -61       X
7       1818599      111420  ...               -56       1
8       2723183      112102  ...               -52       X
9       1413990      109741  ...               -39       C

[10 rows x 51 columns]

In [ ]:
bureau_c_in_previous_merge = pd.merge(left=previous_application,
                      right=bureau_c_installment_merge,
                      how="left",
                      left_on="SK_ID_CURR",
                      right_index=True)

In [ ]:
print(previous_application.shape)
print(bureau_c_installment_merge.shape)
print(bureau_c_in_previous_merge.shape)

NameError: ignored